[submodule ".archives"]
	path = .archives
	url = git@github.com:multistageharness-com/git-submodule-folder.archives.git
	branch = main
[submodule ".ai"]
	path = .ai
	url = git@github.com:multistageharness-com/git-submodule-folder.ai.git
	branch = main
